<strong>Hi, {{ organizerName }}</strong>
<p>There is a new subscription to your meetup <strong>{{ meetName }}</strong>, see details below:</p>
<p>
    <strong>Name: </strong> {{ subName }} <br />
    <strong>Email: </strong> {{ subEmail }} <br />
    <br />
</p>